/* Estilos Otimizados */

/* Configurações gerais */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #000;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

button, .button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 15px 30px; /* Aumentar o tamanho da caixa "Sobre Mim" */
    cursor: pointer;
    transition: border-color 0.3s;
    text-decoration: none;
}

button:hover, .button:hover {
    border-color: #d10162;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#welcome-section {
    text-align: center;
    padding: 50px 20px;
    position: relative;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    transition: opacity 1s ease-out; /* Transição suave de opacidade */
    z-index: 1;
}

#welcome-section .destaque {
    color: #d10162;
    margin-bottom: 20px;
    font-size: 2em;
}

#welcome-section h2 {
    margin-bottom: 40px; /* Aumentar o espaço abaixo do nome */
    font-size: 3em;
}

#welcome-section p {
    margin-bottom: 40px;
    font-size: 1.3em;
}

#content-wrapper {
    opacity: 1;
    background-color: #fff;
    color: #000;
    width: 80%;
    padding: 50px;
    border-radius: 10px;
    transition: opacity 1s ease-in, transform 1s ease-in;
    margin-top: 0;
    z-index: 0;
}

.hidden {
    display: none;
}

#about-section {
    text-align: left;
    margin-bottom: 50px;
    font-size: 1em; /* Aumentar o tamanho da fonte */
}

#about-section h2 {
    color: #d10162;
    text-align: center;
    font-size: 1.5em; /* Aumentar o tamanho da fonte */
}

#about-section h3 {
    margin: 20px 0;
    text-align: center;
    font-size: 1.5em; /* Aumentar o tamanho da fonte */
}

#about-section p {
    font-family: 'Helvetica', sans-serif;
    line-height: 1.6;
    text-align: justify;
    font-size: 1.5em; /* Aumentar o tamanho da fonte */
}
.posts {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.posts article {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    flex: 1;
    text-align: center;
    width: 100%;
}

.posts .date {
    display: block;
    margin-bottom: 10px;
    color: #999;
}

.posts h2 {
    color: #333;
    margin-bottom: 20px;
}

.posts .image-container {
    margin-bottom: 20px;
}

.posts .button {
    border-color: #000;
    color: #000;
}

.posts .button:hover {
    border-color: #d10162;
    color: #d10162;
}

@media (max-width: 600px) {
    .posts {
        flex-direction: column;
        align-items: center;
    }

    .posts article {
        width: 100%;
    }
}
